/*********************GENERAL*********************/
*{margin: 0}
body{
	font-family: Helvetica, Arial, sans-serif;
	
	background-color: #efebe9;
}
a{
	text-decoration: none;
	color: #795548;
}


form{
	width: 500px;
	margin:30px auto;
	
}

input, textarea, select{
	display: block;
	border-radius: 5px;
	border: 1px solid #ffab40;
	margin-bottom: 10px;
	width: 50%;

}

form label{
	color: #222;
}

input[type="submit"]{
	border-radius: 4px;
	color: #fff;
	background: #222;
	line-height: 30px;
	margin-top: 10px;
	border:none;
	width: 60px;
	text-align: center;

}

input[type="file"]{
	border: none;
}
h1, label{
	color: blue;
}

/*********************************HAUT*****************/
.conteneur{
	width: 100%;
	margin: 0;
}
header{
	background: #000;
	color: #fff;
	/* height: 60px; */
}
/*li de logo*/
.logo{
	display: inline-block;
	list-style-type: none;
	border:none;
	
}

#logo{
	margin-left: 5%;
	font-size: 30px;
	color: #fff;
	height: 60px;
	line-height: 60px;
	text-align: right;
}
#logo span{
	color: #ffab40;
}
header nav{
	/* margin-left: 60%;
	display: inline-block; */
	/*float: right;*/
	line-height: 60px;
	margin:0;
	/*height: 60px;*/
	     

}
/*modif header*/
header ul li{
	display: inline-block;
	list-style-type: none;
	/*height: 60px;*/
	line-height: 40px;
	color: #fff;
	margin-right: 15px;
	border-left: 1px solid #fff;
	text-align: center;

}

header ul li:nth-child(2){
	border:none;
}


header nav a{
	color: #fff;
	text-decoration: none;
}

header nav a:hover{
	color: #ffab40;
}

/*-------------css image de connexion sur la nav-----------*/
.connexion{
	width:40px; 
	height:40px;
	display: block;


}
/*******************************MILIEU************************/
section{
	padding: 30px;
	min-height: 800px;
}

/*****************************BAS**************************/
footer{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	height: 20px;
	line-height: 20px;
}

/******************************	ALERT*****************/
.erreur{
	background: #ff0000;
	padding: 5px;
	margin: 5px;
	color: #fff;
}
.validation{
	background: #669933;
	padding: 5px;
	margin: 5px;

}
.cadre{
	border: 1px solid #c0c0c0;
	width: 30%;
}
.cadre h2{
	background: #c0c0c0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	padding: 5px;
}
.center, p{
	text-align: center;
}
/*******************************BOUTIQUE*********************/
/* .boutique-gauche{
	float: left;
	width: 30%;
	background: #f2f2f2;
	min-height: 500px;
	margin-right: 10%;
	padding-top: 10px;
	text-align: center; 
}
.boutique-gauche ul{
	list-style-type: none;
	padding: 0;
}
.boutique-gauche ul li a{
	display: block;
	padding: 10px;
}
.boutique-gauche ul li a:hover{
	background: #046baf6;
	color: #fff;
}
.boutique-droite{
	float: left;
	width: 60%;
}
.boutique-produit{
	float: left;
	width: 30%
	text-align: center;
	padding: 5%;
	border-bottom: 1px solid #c0c0c0;
}
.boutique-produit:hover{
	background: #c0c0c0;
} */
/************************************FICHIER NOTES**************/
ul.notes-echelle{
	margin: 0;
	padding: 0;
	font:.75e/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li{
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	min-width: 20px;
	max-height: 20px;
}
/* Correctif IE6 sur min-width & min-height*/

ul.notes-echelle li label{
	display: block;
	text-align: center;
	line-height: 20px;
	background: url(etoiles.gif) center top no repeat;
	cursor: pointer;
}



/***********************TABLE*******************************/
table{
	border: solid 1px #ffab40;
	margin: 10px auto;
	
}
table tr td{
		text-align: center;
}
th{
	background: #000;
	color: #fff;
}
td, th{
	padding: 5px;
}
/*---------------css images tableaux gestion (sonia)--------------------------*/
.gestion{
	width:20px; 
	height:20px;
	padding-left: 5px;
}

