/*********************GENERAL*********************/
*{margin: 0}
body{
	font-family: Helvetica, Arial, sans-serif;
	
	background-color: #efebe9;
}

.titre{
	font-weight: 100px;
	color:#222;
	width: 100%;
	margin: 50px auto;
	text-align: center;


}
a{
	text-decoration: none;
	color: #795548;
}


form{
	width: 500px;
	margin:30px auto;
	
}

input, textarea, select{
	display: block;
	border-radius: 5px;
	border: 1px solid #ff9100;
	margin-bottom: 10px;
	width: 50%;

}

form label{
	color: #222;
}

input[type="submit"]{
	border-radius: 4px;
	color: #fff;
	background: #222;
	line-height: 30px;
	margin-top: 10px;
	border:none;
	width: auto;
	text-align: center;

}

input[type="file"]{
	border: none;
}

/*********************************HAUT*****************/
.conteneur{
	width: 100%;
	margin: 0;
}
header{
	background: #000;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}
<<<<<<< HEAD
header::after{
	/* position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 3px solid #ff9100;
	border-radius: 20px;
	content: '';
	display: block; */
}
=======
>>>>>>> master
/*li de logo Annonceo*/
.logo{
	display: inline-block;
	list-style-type: none;
	border:none;
	/*line-height: 50px;*/
	
}

#logo{
	margin-left: 5%;
	font-size: 30px;
	color: #fff;
	height: 50px;
	line-height: 50px; /*pour centrer text*/
	text-align: right;
}
#logo span{
	color: #ff9100;
}
header nav{
	margin:0;
	height: 50px;
	line-height: 50px;  /*pour centrer le text*/  
}
header nav ul{
	margin:0;
}
/*modif header*/
header ul{
	height: 50px;
	display: flex;
	-webkit-flex;
	-moz-flex;
	justify-content: space-around;
	/*align-content: space-between;*/
	/*vertical-align: center;*/
	/*line-height: 50px;*/
}
header ul li{
	display: inline-block;
	width: 100%;
	height: 100%;
	list-style-type: none;
	color: #fff;
	border-left: 1px solid #fff;
	text-align: center;
}


.connexion{
	padding-left: 40px;
	padding-right: 40px;

	/*border-radius: 50px;*/
	/*text-align: center;*/
}
#logo_connexion{
	width: auto;
}
header nav a{
	color: #fff;
	text-decoration: none;
}

header nav a:hover{
	color: #ffab40;
}

/*-------------css image de connexion sur la nav-----------*/


.connexion{
	width:50px; 
	height:50px;
	display: block;
	border-radius: 100%;
	position: absolute;
	top:-30px;
	left: 0px;


}
/*******************************MILIEU************************/
section{
	padding: 30px;
	min-height: 800px;
}

/*****************************BAS**************************/
footer{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	height: 20px;
	line-height: 20px;
	border: 2px solid #ff9100;
}

/******************************	ALERT*****************/
.erreur{
	background: #ff0000;
	padding: 5px;
	margin: 20px;
	color: #fff;

}
.validation{
	background: #669933;
	padding: 5px;
	margin: 20px;

}
.cadre{
	border: 1px solid #c0c0c0;
	width: 30%;
}
.cadre h2{
	background: #c0c0c0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	padding: 5px;
}
.center, p{
	text-align: center;
}
/*******************************BOUTIQUE*********************/
/* .boutique-gauche{
	float: left;
	width: 30%;
	background: #f2f2f2;
	min-height: 500px;
	margin-right: 10%;
	padding-top: 10px;
	text-align: center; 
}
.boutique-gauche ul{
	list-style-type: none;
	padding: 0;
}
.boutique-gauche ul li a{
	display: block;
	padding: 10px;
}
.boutique-gauche ul li a:hover{
	background: #046baf6;
	color: #fff;
}
.boutique-droite{
	float: left;
	width: 60%;
}
.boutique-produit{
	float: left;
	width: 30%
	text-align: center;
	padding: 5%;
	border-bottom: 1px solid #c0c0c0;
}
.boutique-produit:hover{
	background: #c0c0c0;
} */
/************************************FICHIER NOTES**************/
.conteneur-notation{
	background: #ffb74d;
}
#form-notes{
	margin-top: 5%;
	margin-left: 50%;
	
}
#clear_star{
	color: #ff9100;
}
.st-color{
	color: #ff9100;
}

/* Correctif IE6 sur min-width & min-height*/

/*ul.notes-echelle li label{
	display: block;
	text-align: center;
	line-height: 20px;
	background: url(etoiles.gif) center top no repeat;
	cursor: pointer;
}*/



/***********************TABLE*******************************/
table{
	position: relative;
	border: solid 2px #ff9100;
	margin: 5% auto;
	
}
table tr td{
		text-align: center;
}
th{
	background: #000;
	color: #fff;
}
td, th{
	padding: 5px;
}
/*---------------css images tableaux gestion (sonia)--------------------------*/
.gestion{
	width:20px; 
	height:20px;
	padding-left: 5px;
}

